DIV.admAutorizaciones
	{
		font-size: 11px;
		font-family: verdana, helvetica, arial, sans-serif;
		width: 93%;
		}

DIV.admAutorizaciones TABLE
	{
		border-collapse: collapse;
		border: 1px;
		border-style: solid;
		border-color: #5d8553;
		background-color: #feeab1;
		}

DIV.admAutorizaciones A
	{
		text-decoration: none;
		font-weight: bold;
		color: #D1E99D;
		}

DIV.admAutorizaciones A:hover
	{
		text-decoration: none;
		font-weight: bold;
		color: #8800CC;
		background-color: #FFFFFF;
		}

div.admAutorizaciones table th
	{
		border-width: 1px;
		border-style: solid;
		border-color: #fdcf51;
		background-color: #106010;
		color: #fdcf51;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		margin: 3px;
		}

div.admAutorizaciones table td
	{
		background-color: #feeab1;
		color: #5D8553;
		font-size: 11px;
		text-align: justify;
		border: 1px solid #5d8553;
		}

div.admAutorizaciones table td A
	{
		text-decoration: none;
		font-weight: bold;
		color: #106010;
		}

div.admAutorizaciones table td A:hover
	{
		text-decoration: none;
		font-weight: bold;
		color: #8800EE;
		background-color: #FFFFFF;
		}

div.admAutorizaciones table td:hover
	{
		background-color: #FFFFFF;
		color: #5D8553;
		font-size: 11px;
		text-align: justify;
		}
